<!DOCTYPE html>
<html>
<head>
    <script>
        function sayHello(){
            alert("Eu sou um alert!");
        }
    </script>
</head>
<body>

<h1>Hello World</h1>
<p>Instituto Federal de Alagoas</p>

<p onclick="sayHello()">{{ nome }}</p>

{% if mostrarVideos %}
    {% for item in lista: %}
        <iframe width="560" height="315" src="{{ item }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endfor %}
{% endif %}

</body>
</html>